<div class="docs-md__h1">Demo</div>
<p>Try adding some text to the below field. Also try adding the word smart</p><br>
<ResizableSmartTextarea
    class="docs-smart-textarea"
    @value="I resize when my text value changes and so, I call myself smart. I will highlight the word 'smart' given to me."
    @highlightText="smart"
/>