<DocsHero @prefix="loveopensource" @heading="Resizable Smart Textarea" />

<div class="home-page-demo">
  <DocsDemo as |demo|>
    <demo.example @name="home-page-demo.hbs">
        <ResizableSmartTextarea
            class="docs-smart-textarea"
            @value="I resize when my text value changes and so, I call myself smart. I will highlight the word 'smart' given to me."
            @highlightText="smart"
        />
    </demo.example>
  </DocsDemo>
</div>